<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ユーザー編集</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="../css/style.css" rel="stylesheet" type="text/css">
<script src="js/vendor/jquery-3.6.0 slim build"></script>
<script src="js/vendor/jquery-3.6.0"></script>
<script src="js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-dark bg-info">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/try">ホーム</a>
					</div>
				</div>
			</nav>
<div class="main-contents">
	<th:block th:if="${editErrors != null}">
	<div class="alert alert-danger">
		<div class="editErrors" th:each="errormessage: ${editErrors}"th:object="${editErrors}">
			<div class="errormessages" th:text="${errormessage}"></div>
		</div>
		</div>
	</th:block>
	<form th:method="post" th:action="@{/edit/{id}(id=${users.id})}" th:object="${users}" >
		<div class="form">
			<div class="form-group">
    		<label for="name">ユーザー名</label>
    		<textarea class="form-control form-control-sm" name="name" rows="1" th:value="${users.name}" th:text="${users.name}"></textarea>
    		</div>
    		<div class="form-group">
    		<label for="account">アカウント名</label>
    		<textarea class="form-control form-control-sm" name="account" rows="1" th:value="${users.account}" th:text="${users.account}"></textarea>
    		</div>
    		<div class="form-group">
    		<label for="password">パスワード</label>
    		<input class="form-control form-control-sm" type="password" name="password" rows="1"></textarea>
    		</div>
			<div class="form-group">
    		<label for="password">確認用パスワード</label>
    		<input class="form-control form-control-sm" type="password" name="verficPass" rows="1" th:value="${verficPass}"></textarea>
    		</div>
    		<th:block th:if="${session.loginUser.id != users.id}">
			<label for="department">部署</label>
	    	<select class="form-control form-control-sm" id="departments"name="departmentId">
			<option th:each="department : ${departments}" th:value="${department.id}" th:selected="${department.id == users.departmentId}" th:text="${department.name}"></option>
			</select>
			<label for="branch">支社</label>
			<select class="form-control form-control-sm" id="branches" name="branchId" th:value="${users.branchId}">
			<option th:each="branch : ${branches}" th:value="${branch.id}" th:selected="${branch.id == users.branchId}" th:text="${branch.name}"></option>
			</select>
			<input type="hidden" name="userId" th:value="${users.id}" >
			<input type="hidden" name="isStopped" th:value="${users.isStopped}" >
			<br><button type="submit" class="btn btn-info">登録</button>
			</th:block>
			</div>
	</form>
</div>
</body>
</html>