<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title>login</title>
</head>
<body>

	<div class="container bg-light">

		<!--ログインフィルターエラーメッセージ-->
		<th:block th:if="${filterError}">
			<div class="alert alert-danger">
				<div class="errorMessages" th:text="${filterError}"></div>
				<div class="errorMessages" th:text="${errormessage}"></div>
			</div>

		</th:block>

		<th:block th:if="${loginErrors != null}">
			<div class="alert alert-danger">
				<div class="loginErrors" th:each="errormessage: ${loginErrors}"
					th:object="${loginErrors}">
					<div class="errorMessages" th:text="${errormessage}"></div>
				</div>
			</div>
		</th:block>
	</div>

	<form action="loginuser" method="post" th:object="${formModel}">
		<br /> <label for="account">アカウント</label><br> <input
			name="account" id="=account" th:value="*{account}"><br /> <label
			for="password">パスワード</label><br> <input name="password"
			type="password" id="password" /> <br /> <br> <input
			type="submit" value="ログイン" class="btn btn-info" /> <br />
	</form>
</body>
</html>