<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新規投稿</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="../css/style.css" rel="stylesheet" type="text/css">
<script src="js/vendor/jquery-3.6.0 slim build"></script>
<script src="js/vendor/jquery-3.6.0"></script>
<script src="js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-dark bg-info">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/try">ホーム</a>
					</div>
				</div>
			</nav>
<div class="main-contents">
	<th:block th:if="${errorMessages != null}">
	<div class="alert alert-danger">
		<div class="errorMessages" th:object="${errorMessages}" th:each="errorMessage : ${errorMessages}">
			<div class="errorMessages" th:text="${errorMessage}"></div>
		</div>
	</div>
	</th:block>
	<form action="/message/addMessage" method="post"
		th:object="${messageForm}">

		<div class="form">
		<div class="form-group">
    	<label for="title">件名</label>
    	<textarea class="form-control" name="title" rows="1" th:value="*{title}"><th:block th:text="*{title}" /></textarea>
    	</div>

		<div class="form-group">
    	<label for="category">カテゴリ</label>
    	<textarea class="form-control" name="category" rows="1" th:value="*{category}"><th:block th:text="*{category}" /></textarea>
    	</div>

		<div class="form-group">
    	<label for="text">投稿内容</label>
    	<textarea class="form-control" name="text" rows="3"><th:block th:text="*{text}" /></textarea>
    	</div>
		<button type="submit" class="btn btn-info">投稿</button>
    	<input type="hidden"name="userId" value="${user.id}">
		</div>
	</form>
</div>
</body>
</html>