
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title>ホーム</title>
<link href="./css/style.css" rel="stylesheet" type="text/css">
<script src="js/vendor/jquery-3.6.0 slim build"></script>
<script src="js/vendor/jquery-3.6.0"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/main.js"></script>
<script>
	$(function() {
		$('.delete').on('click', function() {
			if (window.confirm('本当に削除しますか？')) {
				return true;
			} else {
				return false;
			}
		});
	});

</script>
</head>
<body>
	<div class="main-contents">
		<body>
			<nav class="navbar navbar-default navbar-dark bg-info">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/message/newMessage">新規投稿</a> <a
							class="navbar-brand"
							th:if="${(loginUser.branchId == 1) && (loginUser.departmentId == 1)}"
							href="user">ユーザー管理</a> <a class="navbar-brand" href="logout">ログアウト</a>
					</div>
				</div>
			</nav>
		</body>

		<div class="container bg-light">
			<form action="/try" method="get">
				<br>日付<br> <input type="date" name="startDate"
					th:value="${startDate}">～ <input type="date" name="endDate"
					th:value="${endDate}"> <br> カテゴリ<br> <input
					type="text" name="searchCategory" th:value="${searchCategory}"><br>
				<input type="submit" value="絞込"><br>
			</form>
			<form action="/try">
				<input type="submit" value="リセット" />
			</form>
			<br>
		</div>

		<!--管理者フィルターエラーメッセージ-->
		<th:block th:if="${adminError}">
			<div class="adminErrors errorMessages" th:text="${adminError}"></div>
		</th:block>

		<div class="errorMessages" th:object="${errorMessages}">

			<div th:each="errorMessage : ${errorMessages}">
				<div class="alert alert-danger">
					<p th:text="${errorMessage}"></p>
				</div>
			</div>
		</div>

		<div class="messages" th:each="message : ${messages}"
			th:object="${messages}">
			<p class="well">
			<div class="content">
				<div class="container bg-light">
					<div th:each="user : ${users}" th:object="${users}">
						<div th:if="${message.userId == user.id}">
							<p class="userName small" th:text="投稿者 +' : '+ ${user.name}"></p>
						</div>
					</div>
					<p class="name small" th:text="件名 +' : '+ ${message.title}"></p>
					<p class="name small" th:text="カテゴリー +' : '+ ${message.category}"></p>
					<p class="name small">本文</p>
					<pre style="font: 1em Meiryo;" th:text="${message.text}"></pre>
					<p class="name small" th:text="投稿日時 +' : '+ ${message.createdDate}" ></p>
					<div th:if="${message.userId == loginUser.id }">
						<form th:action="@{/delete/message/{id}(id=${message.id})}">
							<input class="delete" type="submit" value="投稿削除">
						</form>
					</div>

					<div class="comments" th:each="comment : ${comments}"
						th:object="${comments}">
						<div th:if="${comment.messageId == message.id }">
							<div th:each="user : ${users}" th:object="${users}">
								<div th:if="${comment.userId == user.id}">
									<p class="userName" th:text="${user.name}"></p>
								</div>
							</div>

							<pre style="font: 1em Meiryo;" th:text="${comment.text}"></pre>
							<p class="name small" th:text="${comment.createdDate}"></p>
							<div th:if="${comment.userId == loginUser.id }">
								<form th:action="@{/delete/comment/{id}(id=${comment.id})}">
									<input class="delete" type="submit" value="コメント削除">
								</form>
							</div>
						</div>
					</div>
					<form action="/comment" method="post" th:object="${commentForm}">
						<br> コメント<br>
						<textarea name="text" cols="30" rows="3"></textarea>
						<input type="hidden" name="messageId" th:value="${message.id}"><br />
						<input type="submit" value="コメントする">
					</form>
				</div>
			</div>
			</p>
		</div>
	</div>
</body>
</html>