<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title>USERS</title>
<link href="./css/style.css" rel="stylesheet" type="text/css">
<script src="js/vendor/jquery-3.6.0 slim build"></script>
<script src="js/vendor/jquery-3.6.0"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	$(function() {

		$('.btnStop').on('click', function() {
			if (window.confirm('本当に停止しますか？')) {
				return true;
			} else {
				return false;
			}
		});
	});
</script>
<script>
	$(function() {

		$('.btnReborn').on('click', function() {
			if (window.confirm('本当に復活しますか？')) {
				return true;
			} else {
				return false;
			}
		});
	});
</script>

</head>
<body>
	<div class="main-contents">
		<body>
			<nav class="navbar navbar-default navbar-dark bg-info">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/try">ホーム</a> <a
							class="navbar-brand" href="/signup">新規登録</a> <a
							class="navbar-brand" href="/login">ログアウト</a>
					</div>
				</div>
			</nav>
		</body>

		<!-- urlエラーメッセージ -->
		<th:block th:if="${urlError}">
			<div class="errorMessages" th:text="${urlError}"></div>
		</div>
	</th:block>
		<div class="userList">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>名前</th>
						<th>アカウント</th>
						<th>支店名</th>
						<th>部署</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.name}"></td>
						<td th:text="${user.account}"></td>

						<th:block th:each="branch : ${branches}">
							<div th:if="${user.branchId} == ${branch.id}">
								<td th:text="${branch.name}"></td>
							</div>
						</th:block>

						<th:block th:each="department : ${departments}">
							<div th:if="${user.departmentId} == ${department.id}">
								<td th:text="${department.name}"></td>
							</div>
						</th:block>
						<td><a th:href="@{/edit/{id}(id=${user.id})}">編集</a></td>
						<td th:if="${user.isStopped} == 0"><th:block
								th:if="${session.loginUser.id != user.id}">
								<a class="btnStop" type="submit"
									th:href="@{/user/isStopped/{id}(id=${user.id})}">停止</a>
							</th:block></td>
						<td th:if="${user.isStopped} == 1"><th:block
								th:if="${session.loginUser.id != user.id}">
								<a class="btnReborn"
									th:href="@{/user/isStopped/{id}(id=${user.id})}">復活</a>
							</th:block></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>



</body>
</html>